/***************************************************************/
/***         Le CSS du aside    ----    Fonctionnement        **/
/***************************************************************/

aside{
    clear: both;
    @include positionzone(#fff);
    @include flexsimple(column, nowrap, flex-start, flex-start);
    z-index: 0;


    @include notescreen{
        width: 100%;
        margin-top: 0px;
        position: absolute;
        flex-flow: row wrap;
        background-color: transparent;
        z-index: 10;
    }

}

#aside__localisation{
    width: 100%;
    margin: 0px;
    @include flexsimple(row, nowrap, flex-start, flex-start);
    background-color: $Color_Gris_light;

    @include troppetitscreen{
        display: none;
    }

    @include notescreen{
        width: 17%;
        border-radius: 0 0 0 40px;
        margin: auto 0 40px auto;
        z-index: 20;
    }

    @include tabletscreen{
        order: 2;
        width: 15%;
        margin-top: 0px;

    }
}

    .aside__localisation_ico{
        @include coloriconawesome(rgb(0, 0, 0), 15px);
        margin: auto 0px auto auto;

        @include notescreen{
            margin-left : 15px;
        }
    }

    .aside__localisation_lieu{
        display: inline-block;
        margin: auto;
        margin-left : 10px;
        p{
            @include notescreen{
                text-align: center;
            }
        }
    }

    .aside__motivation{
        width: 100%;
        margin: 0 auto 0 auto;
        display: flex;
        flex-flow: column nowrap;
        background-color: $Color_Gris_Superlight;
        

        @include troppetitscreen{
            display: none;
    
        }

        @include notescreen{
            align-self: flex-start;
            width: 100%;
            margin-left: 0px;
            background-color: transparent;

        }

        @include tabletscreen{
            order: 3;
            width: 30%;

        }

    }

        .aside__motivation__slogan{
            width: 70%;
            margin : 25px auto 5px auto;
            display: flex;

        }

        .aside__motivation__slogan h2{
            margin: auto;
            text-align: center;

        }



        .aside__motivation__detail{
            margin : 15px auto 5px auto;
            display: flex;

        }

        .aside__motivation__detail p{
            width: 80%;
            margin: auto;
            text-align: center;
            font-size: 1.1em;

        }

        .aside__motivation__button{
            width: 100%;
            margin: 25px auto 50px auto;
            text-align: center;

            @include notescreen{
                margin-bottom: 20px;
            }
        }

            button{
                @extend %__wouahoubouton;
            }
    
    #aside__Fonctionnement{
        width: 90%;
        margin : 30px auto 50px auto;

        @include troppetitscreen{
            display: none;
    
        }
        @include notescreen{
            width: 100%;
            @include flexsimple(row, nowrap, flex-start, center);
            margin : auto;
        }

        @include tabletscreen{
            @include flexsimple(row, nowrap, flex-start, center);
            margin-left: 25%;
            width: 60%;
            order:1;
        
        }
    }
        .aside__Fonctionnement__title h2{
            @extend %__titlepart;
            
            @include notescreen{
                display: none;
            }

        }
    
        .aside__Fonctionnement__etapes{
            width: 100%;
            margin: auto;


            @include notescreen{
                @include flexsimple(row, nowrap, flex-start, center);
            }
    
    
        }

        div[class*="aside__etapes__no"]{

            @include notescreen{
                margin-right: 20px;
                margin-left: 20px;

            }
    
        }


        .aside__etapes__no1, .aside__etapes__no2{
            @include boutonetape(#fff, 1);
        }   
        .aside__etapes__no3{
                @include boutonetape($Color_Marque_Primaire, 0.2);
    
    
            }

            .aside__etapes__number{
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                margin: auto 10px auto -10px;

                @include tabletscreen{
                    margin-right: 0px;
                
                }
                    p{
                    @extend .pucenumero;
                    
                }
            }

            .aside__etapes__icone1 i, .aside__etapes__icone2 i{
                @include coloriconawesome(rgb(128, 128, 128), 20px);
                margin: auto 15px auto 15px;

                @include notescreen{
                    margin-right: 7px;
                    margin-left: 7px;
                
                }
    
            }


            .aside__etapes__icone3 i{
                @include coloriconawesome($Color_Marque_Primaire, 20px);
                margin: auto 15px auto 15px;
                @include tabletscreen{
                    margin-right: 7px;
                    margin-left: 7px;
                
                }
            }

            .aside__etapes__text p{
                font-family: 'Roboto-Bold';
                font-weight: bolder;

                @include notescreen{
                    text-align: left;
                
                }
            }



/**    Mise en forme de la résolution trop petite **/

#aside__resolutiontroppetite{
    display: none;

    @include troppetitscreen{
        display: inline-block;

    }

    h2{
        @include troppetitscreen{
            font-size: 1.0em;
    
        }
    
        }


}

