/***************************************************************/
/***         Le CSS du aside    ----    Fonctionnement        **/
/***************************************************************/

aside{
    clear: both;
    @include positionzone(#fff);
    @include flexsimple(column, nowrap, flex-start, flex-start);
    z-index: 0;
}

#aside__localisation{
    width: 100%;
    margin: 0px;
    @include flexsimple(row, nowrap, flex-start, flex-start);
    background-color: $Color_Gris_light;
    
}

    .aside__localisation_ico{
        @include coloriconawesome(rgb(0, 0, 0), 15px);
        margin: auto 0px auto auto;
    }
    .aside__localisation_lieu{
        display: inline-block;
        margin:auto;
        margin-left : 10px;
        
    }


    .aside__motivation{
        width: 100%;
        margin: 0 auto 0 auto;
        display: flex;
        flex-flow: column nowrap;
        background-color: $Color_Gris_Superlight;

    }

        .aside__motivation__slogan{
            width: 70%;
            margin : 25px auto 5px auto;
            display: flex;

        }

        .aside__motivation__slogan h2{
            margin: auto;
            text-align: center;

        }



        .aside__motivation__detail{
            margin : 15px auto 5px auto;
            display: flex;

        }

        .aside__motivation__detail p{
            width: 80%;
            margin: auto;
            text-align: center;
            font-size: 1.1em;

        }


        .aside__motivation__button{
            width: 100%;
            margin: 25px auto 50px auto;
            text-align: center;
        }

        

            button{
                @extend %__wouahoubouton;
            }
    
    
    #aside__Fonctionnement{
        width: 100%;
        margin : 30px auto 50px auto;
    }
        .aside__Fonctionnement__title h2{
            @extend %__titlepart;

        }
    
        .aside__Fonctionnement__etapes{
            width: 90%;
            margin: auto;
        }

        .aside__etapes__no1, .aside__etapes__no2{
            @include boutonetape(#fff, 1);
        }   
        .aside__etapes__no3{
                @include boutonetape($Color_Marque_Primaire, 0.2);
            }

            .aside__etapes__number{
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                margin: auto 10px auto -10px;

                p{
                    @extend .pucenumero;
                    
                }
            }

            .aside__etapes__icone1 i, .aside__etapes__icone2 i{
                @include coloriconawesome(rgb(128, 128, 128), 20px);
                margin: auto 15px auto 15px;
            }


            .aside__etapes__icone3 i{
                @include coloriconawesome($Color_Marque_Primaire, 20px);
                margin: auto 15px auto 15px;
            }

            .aside__etapes__text p{
                font-family: 'Roboto-Bold';
                font-weight: bolder;

            }