footer{
    clear: both;
    @include positionzone($Color_Gris_VeryDark);
       
}

    .footer__links__title h1{
        color:#fff;
        @extend %__titlepart;
        font-size: 1.2em;
    }

    ul{
        margin : 0px 0px 30px 0px;

        @include tabletscreen{
            @include flexsimple(row, nowrap, center, center);

        }
    }

        li{
            list-style-type: none;
            margin : 5px auto 5px 0px;
        }
            
            span[class*="footer__links"] a, span[class*="footer__links"] i{
                color: #fff;

            }

            .footer__links__icone{
                @include coloriconawesome (#fff,20px);
            }