/* Mise en forme de l'architecture globale*/
body{
    width: 100%;
    height: 100%;
    @include flexsimple(column, nowrap, space-between, flex-start);
    margin: 0px;
    
}

#container{
    width: 100%;
    height: 730px;
    margin: 0px;
    @include tabletscreen{
        @include flexsimple(row, wrap, flex-start, flex-start);

    }

}
