
/* Mise en forme de l'architecture globale*/
body{
    @include flexsimple(column, nowrap, flex-start, flex-start);
    margin: 0px;
    width: 100%;
}

body #container{
    width: 100%;

    @include notescreen{
        @include flexsimple(row, wrap, flex-start, flex-start);

    }
}
