header{
    width: 100%;
    @include flexsimple(column, nowrap, flex-start, center);
    margin: 0px;
    background-color: $Color_Gris_light;
}
    #header__logo{
        width: 100%;
        display: flex;
        margin : 0px;
        box-shadow: 0px 3px 5px $Color_Gris_Dark;
        background-color: #fff;

    }
        #header__logo img{
            width: 50%;
            margin: 10px auto 10px auto;
        }

    #header__localisation{
        width: 100%;
        margin: 0px;
        @include flexsimple(row, nowrap, flex-start, flex-start);
        
    }

        .header__localisation_ico{
            @include coloriconawesome(rgb(0, 0, 0), 15px);
            margin: auto 0px auto auto;
        }
        .header__localisation_lieu{
            display: inline-block;
            margin:auto;
            margin-left : 10px;
            
        }


