/***************************************************************/
/***                        Le CSS du header                  **/
/***************************************************************/

header{
    clear: both;
    @include positionzone(#fff);
    @include flexsimple(row, nowrap, space-between, center);
    box-shadow: 0px 3px 5px $Color_Gris_Dark;
    z-index: 1;
    background-color: cornflowerblue;
    
    @include tabletscreen{
        height: 50px;
        grid-area: head;
        display: grid;
        gap: 0;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, minmax(20px, auto));
        grid-template-areas:    "head-back head-back head-logo head-logo head-logo head-logo ";
    }
}

    #header__retour{
        position: absolute;
        display: none;
        z-index: 10;
        grid-area: head-back;
        background-color: coral;
        a i{
            margin : -5px auto auto 20px;
            font-size: 1.3em;
            font-weight: bold;
            color: $Color_Gris_VeryDark;
            z-index: 10;
        }
        @include tabletscreen{
            width: 10%;
        }
    }

    #header__logo{
        width: 100%;
        display: flex;
        margin : 0px;
        background-color: rgb(170, 22, 22);
        z-index: 1;
        grid-area: head-logo;

        @include tabletscreen{
            width: 90%;
        }
    
        img{
            width: 50%;
            margin: 10px auto 10px auto;
            z-index: 1;
            @include tabletscreen{
                width: 150px;
                margin :0px;
            }
        
        }
    }


