#container{
    clear: both;
    position: absolute;
    @include flexsimple(column, nowrap, flex-start, flex-start);
    margin: 0px;
    z-index: 1;   
    animation-name: container ;
    animation-duration:  0s;
    animation-delay: $loading-site;
    animation-fill-mode:  both;
    align-self: flex-start;

}

@keyframes container{
    0% {
        transform: translateX(-500%);
    }
    100% {
        transform: translateX(0);
    }
}


#loader{
    @include flexsimple(column, nowrap, center, flex-start);
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 710px;
    background-color: rgba(255, 255, 255, 1);
    
    @include troppetitscreen{
        min-height: 500px;
    }

/*
    ::before{
        content: "<div id="loader"><i class="fas fa-utensils"></i></div>";
        position: relative;
        width : 100%;
        height: 100%;
        overflow: hidden;
    }*/

    
    .fa-utensils{
        font-size: 15em;
        text-align: center;
        font-weight: bold;
        line-height: 100%;
        align-self: center;
        margin : 0px;
        color: #fff;
        transform: scale(0) translateX(0%);
        animation-name: spinloader ;
        animation-duration:  $loader-duree;
        animation-delay: $loader-delay;
        animation-iteration-count: $loader_nb_de_tour;
        animation-fill-mode:  both ;
        animation-timing-function:  ease-in-out;
        z-index: 0;
    
    }

}

@keyframes spinloader{
    0%{
        transform:scale(0.1) translateX(0%) ;
        z-index: 9999;
    }
    
    20% {
        color: $Color_Marque_Primaire;
        transition: all 1s;
        transform:scale(0.5) translateX(-110%);
    }

    50%{
        color: $Color_Marque_Secondaire;
        transition: all 1s;
        transform: scale(1) translateX(0%);
    }

    80%{
        color: $Color_Marque_Tertiaire;
        transform: scale(0.5) translateX(110%);
    }

    100%{
        color: #fff;
        transform: scale(0.1) translateX(0%);
        z-index: 0;
    }

}