$breakpoint:(
    toutpetit: 340px,
    mobile : 640px,
    notephone : 870px,
    tablet : 1024px,
    laptop : 1200px
); 

/**** Les mixin des media queries ****/

@mixin troppetitscreen{
    @media only screen and (min-width:0px) and (max-width:map-get($breakpoint , toutpetit )){
        @content
    }
};


@mixin mobilescreen{
    @media only screen and (min-width:map-get($breakpoint , toutpetit )) {
        @content
    }
};

@mixin notescreen{
    @media only screen and (min-width:map-get($breakpoint , mobile )){
        @content
    }
};

@mixin tabletscreen{
    @media only screen and (min-width:map-get($breakpoint , notephone )){
        @content
    }
};

@mixin largescreen{
    @media only screen and (min-width:map-get($breakpoint , tablet )) {
        @content
    }
};
