/***************************************************************/
/***               Le CSS de la home d'accueil                **/
/***************************************************************/



main{
    clear: both;
    @include positionzone($Color_Gris_light);
}
    .main__title h2{
        @extend %__titlepart;

    }

    .main__card{
        @extend .cartedimension;
        @include flexsimple(column, nowrap, flex-end, flex-start);
        transform: scale(1);
        transition: transform 200ms;
        &:hover, :focus{
            transform: scale(1.08);

            }
        }
        .card__header1{
             @include headercard(lapalettedugout);
        }
        .card__header2{
            @include headercard(lanoteenchantee);
         }
       .card__header3{
            @include headercard(alafrancaise);
        }
        .card__header4{
            @include headercard(ledelicedessens);
        }


        .card__description{
            @include descriptioncard(#fff);
            
            .card__description__text{
                @include flexsimple (column, nowrap, flex-start, flex-start);
                width: 90%;
                height: 100%;

                h4{
                    margin: 10px 15px 0 15px; ;
                }

                p{
                    margin: 5px 15px 0 15px; ;
                }
            }

            .card__description__love{
                width: 50px;
                height: 100%;
                @include flexsimple (row, nowrap, center, center);

                i{
                    line-height: 100%; 
                }
                    
                .fa-heart{
                    font-size: 1.6em;
                    cursor: pointer;

                }

                .fas{
                    position: absolute;
                    transform-origin: center center;
                    background: linear-gradient($Color_Marque_Primaire, $Color_Marque_Secondaire );
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;
                    color: transparent;
                    background-clip: text;
                    transform: scale(0);
                    opacity: 0;
                    transition: all 350ms;
                        &:hover, :focus, :active{
                            transform: scale(1);
                            opacity: 1;
                        }
                        &:hover + .far, :focus + .far, :active + .far{
                            transform: scale(0);
                            opacity: 0;
                        }
                }
                
                .far{
                    position: absolute;
                    transform-origin: center center;
                    transform: scale(0.9);
                    opacity: 1;
                    transition: all 350ms;
                    &:hover, :focus, :active{
                        transform: scale(0);
                        opacity: 0;
                    }
                    &:hover + .fas, :focus + .fas, :active + .fas{
                        transform: scale(1);
                        opacity: 1;
                    }

                }
            



            }


        }

        .card__header_new{
            width : 90px;
            height: 30px;
            margin-right: 15px;

        
            .Pnew1{
                @include flagnewrestaurant(new);
            
            }

            .Pnew2{
                @include flagnewrestaurant(new);
            
            }

            .Pnew3{
                @include flagnewrestaurant(notnew);
            
            }

            .Pnew4{
                @include flagnewrestaurant(notnew);
            
            }
    }


