/***************************************************************/
/***               Le CSS de la page menu                     **/
/***************************************************************/

/** Mise en page du contenu de la page Menu **/

#menu{

  #container{
    @include flexsimple(column, nowrap, flex-start, flex-start);
    margin: 0px;
    width: 100%;
    z-index: 0;

    header #header__retour {
      display: flex;
      z-index: 15;
    }

    @include troppetitscreen {
      display: none;
    }

    @include notescreen {
      @include flexsimple(row, wrap, flex-start, flex-start);
      height: 100px;
    }

    main {
      clear: both;
      @include positionzone($Color_Gris_light);
      @include flexsimple(column, nowrap, flex-start, flex-start);
      
      @include largescreen{
        background-color: transparent;
      }

    }

    .menu__header-- {
      width: 100%;


      &alafrancaise {
        @include headermenu(alafrancaise);
        @include largescreen {
          display: none;
        }
      }
      &lapalettedugout {
        @include headermenu(lapalettedugout);
        @include largescreen {
          display: none;
        }
      }
      &lanoteenchantee {
        @include headermenu(lanoteenchantee);
          @include largescreen {
            display: none;

          }
      }
      &ledelicedessens {
        @include headermenu(ledelicedessens);
        @include largescreen {
          display: none;
        }
      }

    }
    .resto__title {
      @include positionzone($Color_Gris_light);
      @include flexsimple(row, nowrap, space-between, center);

      border: 0px;
      border-radius: 40px 40px 0 0;
      margin-top: -50px;
      z-index: 11;

      @include tabletscreen{
        max-width: 1024px;      
        flex-direction: center;
        align-self: center;
        margin-top: -175px;

      }
      @include largescreen{
        position: relative;
        max-width: none;
        width: 75%;
        margin : 50px auto auto auto;
        background-color: rgba($Color_Gris_light, 0.5);
      }

      h1 {
        margin: 25px auto 25px 15px;
        font-size: 2em;
      }

      .card__description__love {
        margin: 50px 35px auto 15px;
        @include flexsimple(row, nowrap, flex-end, center);
        @extend .heartislove;
      }
    }
  }

  /** Mise en page des blocs entrés / plats /desserts **/

  .resto__group__section {
    width: 100%;
    z-index: 10;

    @include flexsimple(column, nowrap, flex-start, flex-start);

    @include midmobilenotescreen {
      @include flexsimple(row, wrap, center, flex-start);
    }
    @include tabletscreen{
      max-width: 1024px;      
      flex-direction: center;
      align-self: center;
      background-color: $Color_Gris_light;
    }

    @include largescreen{
      position: relative;
      max-width: 1024px;      
      margin : auto;
      background-color: rgba($Color_Gris_light, 0.5);

    }
    @include largescreen{
      max-width: none;
      width: 75%;
      border-radius: 0 0 40px 40px;
      margin: auto;
    }



    section {
      @include flexsimple(column, wrap, center, center);
      margin-bottom: 25px;
      width: 100%;
      @include midmobilenotescreen {
        width: 50%;
      }
      @include largescreen{
        width: 30%;
        margin-bottom: 50px;
      }
    }
  }
  .section__title {
    @extend .titresectionmenu;
  }

  /** Mise en page et mise en forme de chaque produit **/

  .resto__group__article {
    width: 80%;

    @include midmobilenotescreen {
      width: 95%;
    }

    article {
      @include flexsimple(row, nowrap, space-between, flex-start);
      width: 100%;
      min-width: 200px;
      max-width: 450px;
      height: 70px;
      margin: 10px auto 10px auto;
      border-radius: 20px;
      background-color: #fff;

      /* affichage progressif de chaque article */
      cursor: pointer;
      animation-name: articleaffichageprogressif;
      animation-duration: $articlemenu-duree;
      animation-fill-mode: both;
      animation-direction: alternate-reverse;
      animation-iteration-count: $articlemenu-nb_de_tour;
      animation-timing-function: linear;
      @for $i from 1 through 15 {
          &[class="article--#{$i}"]{
              animation-delay: $articlemenu-delay * $i;
          }

          @include midmobilenotescreen{
              width: 100%;
          }
      
      }
      /* fin de la partie animation  */


      &:hover {
        .article__texte {
          width: 65%;
          min-width: 170px;
        }

        .article__valider {
          width: 70px;

          transform: scaleX(1);
          opacity: 1;

          p {
            i {
              transform: rotate(0);
            }
          }
        }
      }

      .article__ {
        &texte {
          @include flexsimple(column, nowrap, flex-start, flex-start);
          width: 80%;
          min-width: 170px;
          margin: auto 0 auto 10px;
          line-height: 100%;

          h4,
          p {
            width: 100%;
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          h4 {
            margin: 0px auto 3px 0px;
          }

          p {
            margin: 3px auto 0px 0px;
          }

          /**   les éléments pour l'animation**/
          transition: width $articlevalider-duree;

        }
        &price {
          @include flexsimple(column, nowrap, flex-end, flex-end);
          border-radius: 0 20px 20px 0;
          width: 15%;
          min-width: 50px;
          height: 100%;
          background-color: #fff;

          p {
            width: 100%;
            margin: auto auto 17px 0px;
            text-align: center;
            font-weight: bold;
          }
        }
        &valider {
          @include flexsimple(row, nowrap, center, center);
          width: 0%;
          margin-right: 0px;
          border-radius: 0 20px 20px 0;
          height: 100%;
          background-color: $Color_Marque_Tertiaire;

          p {
            width: 100%;
            text-align: center;
            font-size: 1.3em;

            i {
              color: #fff;
              transform: rotate(-360deg);
              transition: transform $articlevalider-i-duree;
            }
          }

          /**   les éléments pour l'animation**/
          transform: scaleX(0);
          opacity: 0;
          transform-origin: 100% 50%;
          transition: all $articlevalider-duree;
        }
      }
    }
  }

  /** Mise en place du bouton COMMANDER **/

  #menu_order {
    @include flexsimple(row, nowrap, center, center);
    margin: 25px auto 100px auto;

    @include midmobilenotescreen {
      margin: 10px auto 50px auto;
    }

    @include largescreen{
      margin-top: 50px;
    }
  }

}

/** Définition du background de la page en fonction du restaurant  */

.alafrancaise {
  @include backgroundmenulaptop(alafrancaise);
}
.lapalettedugout {
  @include backgroundmenulaptop(lapalettedugout);
}
.lanoteenchantee {
  @include backgroundmenulaptop(lanoteenchantee);
}
.ledelicedessens {
  @include backgroundmenulaptop(ledelicedessens);
}


