/***************************************************************/
/***               Le CSS de la page menu                     **/
/***************************************************************/


/** Mise en page général **/

#containermenu{
    @include flexsimple(column, nowrap, flex-start, flex-start);
    margin: 0px;
    width: 100%;

    header #header__retour{
        display: flex;
        z-index: 10;
    }
    @include troppetitscreen{
        display: none;

    }

}

main{
    clear: both;
    @include positionzone($Color_Gris_light);
    @include flexsimple(column, nowrap, flex-start,flex-start );

}

.menu__header--alafrancaise{
    @include headermenu(alafrancaise);
}
.menu__header--lapalettedugout{
    @include headermenu(lapalettedugout);
}
.menu__header--lanoteenchantee{
    @include headermenu(lanoteenchantee);
}
.menu__header--ledelicedessens{
    @include headermenu(ledelicedessens);
}

.resto__title{
    @include positionzone($Color_Gris_light);
    @include flexsimple(row, nowrap,space-between, center);

    border: 0px;
    border-radius: 40px 40px 0 0;
    margin-top: -50px;
    z-index: 10;

    h1{
        margin : 25px auto 25px 15px;
        font-size: 2em;
    }

    .card__description__love{
        margin : 50px 35px auto 15px;
        @include flexsimple(row, nowrap,flex-end, center);
        @extend .heartislove;

    }


}

/** Mise en page des blocs entrés / plats /desserts **/

section{
    @include flexsimple(column, wrap, center, center);
    margin-bottom: 25px;
    width: 100%
}

    .section__title{
        @extend .titresectionmenu;
    }


/** Mise en page et mise en forme de chaque produit **/

    article{
        width: 400px;
        height: 75px;
        margin : 15px auto 5px auto;
        align-self: center;
        @include flexsimple(row, nowrap, center, flex-end);
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 3px 3px 5px rgba($Color_Gris_Dark,0.3);
        cursor: pointer;
        animation-name: articlevalider;
        animation-duration: $articlemenu-duree;
        animation-fill-mode: both;
        animation-direction: alternate-reverse;
        animation-iteration-count: $articlemenu-nb_de_tour;
        animation-timing-function: linear;
        @for $i from 1 through 15 {
            &[class="article--#{$i}"]{
                animation-delay: $articlemenu-delay * $i;
            }
        }
    

        .article__text{
            h4{
                margin : 15px auto 3px 0;
             }
    
            p{
                margin: 2px auto 15px 0;
                
            }


            h4, p{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: left;
                width: 100%;
                height: 20px;
            }
                        
        }

        .article__text{
            width: 325px;
            margin-left: 15px;
            @include flexsimple(column, nowrap, flex-start, flex-start);
            transform-origin: left;
            transform: scaleX(1);
            transition: all $articlevalider-duree;

        }
        .article__price{
            width: 40px;
            @include flexsimple(column, nowrap, flex-end, flex-end);
            margin-right: 15px;
            margin-left: 15px;
            transform-origin: center;
            
            p{
                text-align: left;
                font-family: 'roboto-bold';
                font-size: 1.1em;
                align-self: flex-end;
                margin-bottom : 16px;

            }
        }

        .article__valider{
            width: 0%;
            height: 100%;
            @include flexsimple(row, nowrap, center, center);
            line-height: 100%;
            background-color: $Color_Marque_Tertiaire;
            border-radius: 0px 15px 15px 0px;
            transform-origin: right ;
            transition: all $articlevalider-duree;

            i{
                color: #fff;
                font-size: 1.6em;
                opacity: 0;
                transform: rotate(-360deg);
                transition: all $articlevalider-duree;

            }
        }
    }
    

    #menu_order{
        @include flexsimple(row, nowrap, center, center);
        margin : 25px auto 100px auto;
    }

/**------------------------------------------------**/
/**   Les animation des pages menu ci-dessous      **/
/**------------------------------------------------**/


    /** CSS pour le HOVER des articles V  **/

article:hover{
    .article__text{
    width: 235px;
    }
    .article__valider{
    width: 80px;
        i{
            opacity: 1;
            transform: rotate(0deg);
        }
    }
}
    

    /** animation pour l'affichage progressif des articles  **/

@keyframes articlevalider {
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(20px);
        opacity: 0;

    }
}

    /** animation pour l'affichage de la coche de validation des articles  **/


@keyframes AjoutValider{
    0%{


    }
    100%{


    }
}