.pucenumero{
    color: #fff;
    background-color: $Color_Marque_Primaire;
    width: 25px;
    height: 25px;
    text-align: center;
    border: 0px;
    border-radius: 50px;
    margin: auto;
    line-height: 25px;
}
