.pucenumero{
    color: #fff;
    background-color: $Color_Marque_Primaire;
    width: 25px;
    height: 25px;
    text-align: center;
    border: 0px;
    border-radius: 50px;
    margin: auto;
    line-height: 25px;
}


.cartedimension{
    width: 85%;
    max-width: 400px;
    margin : 20px auto 20px auto;
    border-radius: 20px;
    box-shadow: 3px 3px 5px $Color_Gris_Dark ;
}

