/** Mixin pour positionner les zones */

@mixin positionzone($colorbackground){
    width: 100%;
    margin: 0px;
    position: relative;
    background-color: $colorbackground;

}

/* mixin pour simplifier les Flexbox  */
@mixin flexsimple($sens, $alalligne, $alignH, $alignV){
display: flex;
flex-flow: $sens $alalligne ;
justify-content: $alignH;
align-items: $alignV;

}


/** mixin pour les icones awesome*/

@mixin coloriconawesome($coloricone, $taillebox){
    display: inline-block;
    width: $taillebox;
    height: $taillebox;
    color: $coloricone;
    line-height: $taillebox;
    margin-right: $taillebox*0.5;
}



