%__wouahoubouton{
    width: 200px;
    height: 40px;
    margin: auto;
    border: 0px;
    border-radius: 20px ;
    color: #fff;
    font-weight: bolder;
    background: linear-gradient($Color_Marque_Secondaire, $Color_Marque_Primaire );
    box-shadow: 5px 5px 10px $Color_Gris_Dark;
}


