/**** Toutes les couleurs du site ****/

$Color_Marque: rgba(0, 0, 0,1);
$Color_Marque_Primaire:rgb(147, 86, 220);
$Color_Marque_Secondaire: rgb(255, 121, 218);
$Color_Marque_Tertiaire: rgb(153, 226, 208);

$Color_Gris_VeryDark : rgb(53, 53, 53);
$Color_Gris_Dark : rgb(138, 138, 138);
$Color_Gris_light : rgb(234, 234, 234);
$Color_Gris_Superlight : rgb(246, 246, 246);


/**** Les variables images du site ****/


$Pic_Background_home : "../";
$Pic_Background_resto1 : "..";
$Pic_Background_resto2 : "..";
$Pic_Background_resto3 : "..";
$Pic_Background_resto4 : "..";


/**** Les variables de temps ****/

    /*... pour le loader */
$loader-duree: 1350ms;
$loader-delay : 150ms;
$loader_nb_de_tour:2;
$loading-site : ($loader-duree*$loader_nb_de_tour) + $loader-delay*2;


    /*... pour le l'affichage des articles du menu */
$articlemenu-duree :650ms;
$articlemenu-delay: $articlemenu-duree/2;
$articlemenu-nb_de_tour: 1 ; 

    /*... pour la coche verte des articles */
$articlevalider-duree: 350ms;
